### Import Library

In [1]:
from utils.utils import *
from glob import glob

###

### Save Hourly Summary
- PDF 데이터 경로는 glob을 이용해서 List 형태로 입력 합니다.
- convert_pdf_to_dict 함수는 Dictionary 형태의 데이터를 반환합니다.
- Dictionary는 pickle 데이터로 저장합니다.
</br></br>
- 본 프로그램은 JDK 설치가 필수입니다.

In [2]:
root_dir = './sample/holter_report'
paths = glob(f"{root_dir}/sample_*.pdf")
total_dict = convert_pdf_to_dict(paths, root_dir)

PDF 파일 3개 변환 시작

100%|██████████| 3/3 [00:07<00:00,  2.51s/it]

3개의 Hourly Summary 테이블을 저장했습니다.

### Load Hourly Summary
- 2중 Dictionary 구조
- pid로 Hourly Summary 검색 후 'HR' / 'VT' / 'SVT'로 데이터 접근

In [5]:
sample_data = load_pickle(f"{root_dir}/hourly_summary.pickle")

# 데이터 검색 예시
sample_data['79785321']['HR']

    Hour  Min  #QRS's  Min.  Ave.  Max.  Pauses
0     11   20    3429   147   172   200       0
1     12   60    9247   145   154   172       0
2     13   60    9483   145   158   178       0
3     14   60    9487   147   158   179       0
4     15   60    9859   155   164   190       0
5     16   60    9340   141   156   173       0
6     17   60    9733   150   162   182       0
7     18   60    9962   148   166   182       0
8     19   60    9773   152   163   176       0
9     20   60   10063   150   168   185       0
10    21   60    9997   153   167   182       0
11    22   60    9000   130   150   166       0
12    23   60    8490    88   142   150       0
13     0   60    8450   124   141   147       0
14     1   60    8334    98   139   150       0
15     2   60    8651   131   144   158       0
16     3   60    9129   141   152   160       0
17     4   60    8870   134   148   156       0
18     5   60    9094   143   152   160       0
19     6   60    9448   139   158   179       0
20     7   60   10069   151   168   177       0
21     8   60    9998   152   167   177       0
22     9   60   10292   150   172   196       0
23    10   45    7162   138   159   171       0